  .toolbar {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
  .large-font{
    font-weight: normal;
    font-size: 15px;
    height: 10px;
}