<div class="toolbar">
  <div fxFlex="30" fxLayoutAlign="end" >
    <img style="height: 40px;" src="http://localhost:5001/Files/BeetLogo.png">
  </div>
  <div fxFlex="70" >
    <div style="margin-left: 770px;">
      <button *ngIf="fullView" mat-button (click)="output()" routerLink="/entry">Выйти</button>
    </div>
  </div>
</div>
<div  style="background-color:rgb(241, 241, 241);height: auto;">
  <div fxFlex="30" fxLayoutAlign="end start" style="color: rgb(37, 121, 204);margin-right: 10px;margin-top: 15px;height: 900px;">
    <div *ngIf="fullView" fxLayout="column" style="margin-right: 10px;">
      <button mat-button fxLayoutAlign="start" routerLink="/mypage">
        <mat-icon style="margin-right: 5px;">home</mat-icon>
        Моя страница
      </button>
      <button mat-button fxLayoutAlign="start" routerLink="/photos">
        <mat-icon style="margin-right: 5px;">photo</mat-icon>
        Фото
      </button>
      <button mat-button fxLayoutAlign="start" routerLink="/news">
        <mat-icon style="margin-right: 5px;">library_books</mat-icon>
        Новости
      </button>
      <button mat-button fxLayoutAlign="start" routerLink="/subscribers">
        <mat-icon style="margin-right: 5px;">emoji_people</mat-icon>
        Подписки
      </button>
      <button mat-button fxLayoutAlign="start" routerLink="/mycommunities">
        <mat-icon style="margin-right: 5px;">people</mat-icon>
        Сообщества
      </button>
      <button mat-button fxLayoutAlign="start" >
        <mat-icon style="margin-right: 5px;">message</mat-icon>
        Сообщения
        <!--
        <strong style="margin-left: 10px;">0</strong>
        -->
      </button>
      <button mat-button fxLayoutAlign="start">
        <mat-icon style="margin-right: 5px;">videocam</mat-icon>
        Видео
      </button>
      <button mat-button fxLayoutAlign="start">
        <mat-icon style="margin-right: 5px;">music_note</mat-icon>
        Музыка
      </button>
      <button mat-button fxLayoutAlign="start" routerLink="/settings">
        <mat-icon style="margin-right: 5px;">settings</mat-icon>
        Настройки
      </button>
    </div>
  </div>
  <div fxFlex="70" >
    <router-outlet></router-outlet>
  </div>
</div>
