.example-card-left {
    width: 565px;
    margin: 8px;
    height: auto;
}
.example-card-right {
    width: 205px;
    margin: 8px;
    height: 52px;
}
.large-font{
    font-weight: normal;
    font-size: 22px;
    height: 15px;
}
.large-font-gray{
    font-weight: normal;
    font-size: 22px;
    height: 15px;
    color: gray;
}
.simple-button{
    background-color:rgb(37, 121, 204);
    color:white;
}