<div fxLayoutAlign="start" style="margin-top: 9px;">
    <!--Аватар-->
    <div fxLeayout="column">
        <mat-card class="example-card-left">
            <button mat-button (click)="openDialog(avatarImage)">
                <img mat-card-image style="margin-top: 0px;margin-bottom: -1%;border-radius: 5px;" src={{avatarImage}} >
            </button>
            <input #fileInput onclick="this.value=null;" style="display: none;" type="file" name="photo" (change)="addAvatar($event)"/>
            <button class="long-button" style="margin-top: 20px;" mat-raised-button (click)="fileInput.click()">
                <div fxLayout="row" fxLayoutAlign="center">
                    <mat-icon  style="color: rgb(58, 107, 156);margin-top: 2px;"> arrow_upward</mat-icon >
                    <p class="normal-font" style="margin-top:-2px;">Обновить фото</p>
                </div>
            </button>
        </mat-card>
        <!--Подписки-->
        <mat-card class="example-card-left" style="height: auto;">
            <div>
                <a class="normal-font-black" style="text-decoration: none;" routerLink="/subscribers">
                    Подписки
                </a>
                <a class="normal-font-gray" style="text-decoration: none;" routerLink="/subscribers"> 
                    {{allSubLength}}
                </a>
            </div>
            <div fxLayout="row" style="margin-top: 13px;">
                <div *ngFor=" let user of allSub" >
                    <div fxLayout="column" style="width:72px" >
                        <button  [routerLink]="['/friendpage',user.socialUserId]" mat-icon-button style="border-radius: 100px;width: 55px;height: 55px;">
                            <img style="height: 54px;width: 54px;" mat-card-avatar src="{{user.avatar}}">
                        </button>
                        <a [routerLink]="['/friendpage',user.socialUserId]"  class="normal-font" fxLayoutAlign="center" style="margin-top: 10px;text-decoration: none;margin-left: -18px;"> 
                            {{user.firstname}}
                        </a>
                    </div>  
                </div>
            </div>
        </mat-card>
        <!--Сообщества-->
        <mat-card class="example-card-left" style="height: auto;">
            <div>
                <a class="normal-font-black" style="text-decoration: none;" routerLink="/mycommunities">
                    Сообщества
                </a>
                <a class="normal-font-gray" style="text-decoration: none;" routerLink="/mycommunities"> 
                    {{allComLength}}
                </a>
            </div>
            <div style="margin-top: 13px;">
                <div *ngFor=" let com of allCom" >
                    <div fxLayout="row" style="width:192px;margin-top: 15px;" >
                        <button  [routerLink]="['/communitypage',com.groupId]" mat-icon-button style="border-radius: 100px;width: 55px;height: 55px;">
                            <img style="height: 54px;width: 54px;" mat-card-avatar src="{{com.avatar}}">
                        </button>
                        <div fxLayout="column">
                            <a [routerLink]="['/communitypage',com.groupId]"  class="normal-font" style="width: auto;margin-top: 10px;text-decoration: none;margin-left: 10px;margin-top: 0px;"> 
                                {{com.name}}
                            </a>
                            <a class="normal-font-gray" style="width: auto;margin-left: 10px;height: 10px;margin-top: 5px;text-decoration: none;" > {{com.subscribers.length}} подписчиков  </a>
                        </div>
                    </div>  
                </div>
            </div>
        </mat-card>
    </div>
    <div fxLayout="column">
        <!--Информация о пользователе-->
        <mat-card class="example-card-right">
            <h3 class="large-font">{{activeUser.firstname + " " + activeUser.lastname}}</h3>
            <mat-divider></mat-divider>
            <div fxLayout="row" class="height-row-user-date">
                <p fxFlex="40" class="normal-font-gray">День рождения:</p>
                <p *ngIf="showBirthday" fxFlex="60" class="normal-font">{{ activeUser.birthday | date:'MMM d' }} </p>
                <p *ngIf="!showBirthday" fxFlex="60" class="normal-font">{{ activeUser.birthday}} </p>
            </div>
            <div fxLayout="row" class="height-row-user-date">
                <p fxFlex="40" class="normal-font-gray">Город:</p>
                <p fxFlex="60" class="normal-font">{{ activeUser.city}} </p>
            </div>
            <div *ngIf="!fullInformation"  fxLayoutAlign="center" style="margin-bottom: 10px;">
                <button mat-button class="long-button" (click)="showFullInformation()">
                    <p class="normal-font" style="margin-top:-2px;">Показать полную информацию</p>
                </button>
            </div>
            <div *ngIf="fullInformation" style="margin-bottom: 10px;">
                <div  fxLayoutAlign="center">
                    <button mat-button class="long-button" (click)="showFullInformation()">
                        <p class="normal-font" style="margin-top:-2px;">Скрыть полную информацию</p>
                    </button>
                </div>
                <div fxLayout="row" class="height-row-user-date">
                    <p fxFlex="40" class="normal-font-gray">Телефон:</p>
                    <p fxFlex="60" class="normal-font">{{ activeUser.phoneNumber}} </p>
                </div>
                <div fxLayout="row" class="height-row-user-date">
                    <p fxFlex="40" class="normal-font-gray">Пол:</p>
                    <p fxFlex="60" class="normal-font">{{ activeUser.gender}} </p>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div fxLayout="row" style="margin-top: 25px;" fxLayoutAlign="space-around  center">
                <button mat-button routerLink="/photos">
                    <p class="large-font" style="height: 0px;margin-top: 0px;color: rgb(58, 107, 156);" >
                        {{allPhotoLength}}
                    </p>
                    <p class="normal-font-gray"  style="height: 15px;">
                        фото
                    </p>
                </button>
                <button mat-button routerLink="/subscribers">
                    <p class="large-font" style="height: 0px;margin-top: 0px;color: rgb(58, 107, 156);" >
                        {{allSubLength}}
                    </p>
                    <p class="normal-font-gray"  style="height: 15px;">
                        подписки
                    </p>
                </button>
            </div>
        </mat-card>
        <!--Поле для поста-->
        <mat-card class="example-card-right">
            <div fxLatout="row">
                <button  (click)="updatePage()" mat-icon-button style="border-radius: 100px;width: 40px;height: 43px;">
                    <img mat-card-avatar src={{avatarImage}}>
                </button>
               
                <mat-form-field appearance="outline" style="width: 82%;margin-left: 15px;margin-top: -5px; margin-bottom: -25px;" >
                    <div style="margin-top: -10px;width: 100%;">
                        <input autocomplete="off" matInput  (input)="changeText(textPost)" [(ngModel)]="textPost" placeholder="Что нового?" >
                    </div>
                    <div fxLayoutAlign="end" style="margin-top: -30px;height: 30px;">
                        <button matTooltip="Очистить" mat-icon-button (click)="clearPostText() " style="margin-right: -8px;">
                            <mat-icon style="color: gray;">close</mat-icon>
                        </button>
                    </div>
                </mat-form-field>
                <input #fileInputPost (input)="changePhoto(filesPostPhotoDisplay)" onclick="this.value=null;"
                       style="display: none;" type="file" name="photo" (change)="selectPostPhoto($event)"/>
                <button matTooltip="Добавить фото" mat-icon-button style="color: rgb(20, 114, 207);" (click)="fileInputPost.click()">
                    <mat-icon>photo</mat-icon>
                </button>
            </div>
            <div fxLayout="row" *ngIf="photoPostFull">
                <img src={{filesPostPhotoDisplay}} style="width: 50%;margin-top: 10px;border-radius: 5px;">
                <button mat-icon-button (click)="closeSelectPhoto()" style="height: 25px;width: 25px ;margin-top: 10px;margin-left: -25px;color: white;background-color: gray;">
                    <mat-icon style="margin-top: -17px;">close</mat-icon>
                </button>
            </div>
            <div fxLayoutAlign="end" *ngIf="textPostFull || photoPostFull">
                <button mat-button (click)="addUserPost(textPost)" style="background-color: #1976d2; color: white;margin-top: 12px;" >
                    Отправить
                </button>
            </div>
        </mat-card>
        <!--Посты-->
        <mat-card class="example-card-right">
            <mat-tab-group style="margin-top: -15px;margin-left: -17px;margin-right: -17px;">
                <mat-tab label="Все посты"></mat-tab>
            </mat-tab-group>
        </mat-card>

        <div style="margin-top: -33px;">
            <mat-card *ngFor="let post of userPosts" class="example-card-right" style="height: auto;margin-bottom: 15px;">
                <div fxLayout="row">
                    <button (click)="updatePage()" mat-icon-button style="border-radius: 100px;width: 55px;height: 55px;">
                        <img style="height: 55px;width: 55px;" mat-card-avatar src={{avatarImage}}>
                    </button>
                    <div style="margin-left: 20px;" fxLayout="column">
                        <a routerLink="/mypage" (click)="updatePage()" class="normal-font-name" style="height: 25px;margin-top: 7px;text-decoration: none;">{{activeUser.firstname + " " + activeUser.lastname}}</a>
                        <p class="normal-font-gray" style="height: 10px;margin-top: -3px;">{{ post.date | date:'MMM d HH:mm' }} </p>
                    </div>
                </div>
                <div fxLayoutAlign="end" style="margin-top: -50px;">
                    <button mat-icon-button [matMenuTriggerFor]="menu" >
                        <mat-icon style="color: gray;">keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="deletePost(post)">
                            <span>Удалить</span>
                        </button>
                    </mat-menu>
                </div>
                <div fxLayout="column">
                    <p style="margin-top: 25px;height: auto;margin-bottom: 5px;" class="normal-font-black">{{post.text}}</p>
                    <button mat-button *ngIf="post.photo" style="margin-top: 10px;" (click)="openDialog(post.photo)">
                        <img mat-card-image style="margin-top: 0px;margin-bottom: 0%;border-radius: 5px;" src={{post.photo}} >
                    </button>
                </div>
                <br/>
                <mat-divider></mat-divider>
                <!--лайк-->
                <div fxLayout="row">
                    <button matTooltip="Нравится" mat-button style="margin-top: 10px;margin-left: -10px;" (click)="addLike(post.likeIcon,post.postId,post)">
                        <div fxLayout="row" style="height: 30px;margin-left: -7px;">
                            <div>
                                <mat-icon style="color: red;margin-top: 3px;">{{post.likeIcon}}</mat-icon>
                            </div>
                            <div>
                                <p style="color: red;margin-top: -2px;margin-left: 5px;">{{post.likesCounter}}</p>
                            </div>
                        </div>
                    </button>
                    <!--Комментарии кнопка-->
                    <button matTooltip="Комментарии" mat-button style="margin-top: 10px;" (click)="showComments(post)">
                        <div fxLayout="row" style="height: 30px;margin-left: -7px;color: gray;">
                            <div>
                                <mat-icon style="margin-top: 3px;">chat_bubble_outline</mat-icon>
                            </div>
                            <div>
                                <p style="margin-top: -2px;margin-left: 5px;">{{post.CommentsCounter}}</p>
                            </div>
                        </div>
                    </button>
                </div>
                <!--Комментарии-->
                <div *ngIf="post.showComments">
                    <div *ngFor="let comment of post.Comments"> 
                        <mat-divider style="margin-top: 5px;"></mat-divider>
                        <br/>
                        <div fxLayout="row">
                            <button  (click)="pageFriend(comment.authorId)" mat-icon-button style="border-radius: 100px;width: 40px;height: 40px;">
                                <img mat-card-avatar src={{comment.avatarAuthor}}>
                            </button>
                            <div style="margin-left: 20px;" fxLayout="column">

                                <a  [routerLink]="" (click)="pageFriend(comment.authorId)" class="normal-font" style="height: 20px;margin-top: 0px;text-decoration: none;">{{comment.authorName }}</a>
                                
                                <p class="normal-font-black" style="margin-top: 0px;width: 450px;">{{comment.text}}</p>
                                <p class="normal-font-gray" style="height: 10px;margin-top: -3px;">{{ comment.date | date:'MMM d HH:mm' }} </p>
                            </div>
                            <div fxLayoutAlign="end" style="margin-top: -15px;">
                                <button mat-icon-button (click)="deleteComment(comment)" matTooltip="Удалить" style="margin-left: -10px;">
                                    <mat-icon style="color: gray;">close</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--Оставить комментарий-->
                    <div fxLatout="row" style="margin-bottom: -20px;">
                        <mat-divider style="margin-top: 5px;"></mat-divider>
                        <br/>
                        <button  (click)="updatePage()" mat-icon-button style="border-radius: 100px;width: 40px;height: 40px;">
                            <img mat-card-avatar src={{avatarImage}}>
                        </button>
                        
                        <mat-form-field appearance="outline" style="width: 82%;margin-left: 15px;" >
                            <div style="margin-top: -10px;width: 100%;">
                                <input autocomplete="off" matInput (input)="changeComment(post)" [(ngModel)]="post.textComment" placeholder="Оставьте комментарий..." >
                            </div>
                            <div fxLayoutAlign="end" style="margin-top: -30px;height: 30px;">
                                <button matTooltip="Очистить" mat-icon-button (click)="clearCommentText(post) " style="margin-right: -8px;">
                                    <mat-icon style="color: gray;">close</mat-icon>
                                </button>
                            </div>
                        </mat-form-field>
                        <button matTooltip="Отправить" *ngIf="post.showBtnSendCom"  mat-icon-button style="color: rgb(20, 114, 207);margin-bottom: 0;" (click)="addComment(post)">
                            <mat-icon style="margin-top: -10px;">send</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>

